*{
    padding: 0;
    margin: 0;
}
.sectionone{
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url(../Images/image1.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: monospace, sans-serif;
}
.sectionone .navbar{
    height: 20%;
    width: 80%;
    top: 0;
    position: absolute;
    /* background-color: aquamarine; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.navbar li{
    list-style: none;
    display: inline-block;
    padding-left: 30px;
}
.navbar a{
    text-decoration: none;
    font-size: 20px;
    color: white;
    font-weight: 600;
}
.navbar h1{
    font-size: 33px;
    transition: 1s;
}
.logo span{
    color: red;
    border-bottom: solid 2px red;
}
.navbar a:hover{
    color: red;
    border-bottom: solid 2px red;
}
.navbar h1:hover{
    background-color: white;
    color: red;
    padding: 5px 5px;
    border-radius: 25px;
}
.textdiv{
    height: 50%;
    width: 30%;
    /* background-color: black; */
    text-align: center;
    position: absolute;
    bottom: 15%;
}
.textdiv p{
    margin-bottom: 20px;
    color: red;
}
.textdiv h1{
    margin-bottom: 20px;
    line-height: 1.6;
}
.textdiv .last{
   margin-top: 100px;
}
.last img{
    color: white;
}